body{
    background-color:rgb(94, 171, 223);
}

#title{
    font-family: "Jersey 15", sans-serif;
    letter-spacing: 0.25rem;
    font-size: 2rem;
    color: white;

}
#parent{
    display: flex;    
    align-items: center;
    margin-top:1.5rem;
    flex-direction: column;
}

#calculator-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);   
    grid-auto-rows: 80px;
    max-width: 520px;
    background-color: black;
    border-radius:1.3rem;
    padding: 1.1rem;
    min-width: 520px;

}


#display{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    grid-column:span 4;
    padding: 0.3em;
    background-color: black;
    color: white;
    border-radius:1.3rem;
    font-family: "Jersey 15", sans-serif;
    font-size: 2.5rem;

}



.btn, #decimal-btn, #zero-btn{
    font-size: 1.5rem;
    background-color: #2b2b2b;
    color:white;
    font-family: "Jersey 15", sans-serif;
    

}

.special{
    background-color: #b4b4b4;
    color:black;
}

.operator, .equal{
    background-color: #ff8800;
    color: white;
}

.number:hover, .zero-btn:hover, #decimal-btn:hover {
    background-color:#4d4d4d;
}

.operator:hover, .equal:hover{
    color: #ff8800;
    background-color: white;
}   

.special:hover{
    background-color: white;
}

.number:active, .zero-btn:active, #decimal-btn:active{
    background-color: #201f1f;
}

.operator:active, .equal:active{
    background-color: rgb(219, 218, 218);
}

.special:active{
    background-color:rgb(207, 205, 205);
}

.operator, .special, #decimal-btn, .number, .equal{
    cursor: pointer;
}

button{
    border-radius: 1.5rem;
    margin: 0.5rem;
    border: none;
}

.zero-btn{
    grid-column: span 2;
}